html {
  scroll-behavior: smooth;
}

body {
}

header {
  position: fixed;
  top: 0;
}
/*------------ヘッダーの設定------------*/
.site-header {
  /*ヘッダーの背景、ヘッダーの大本*/
  background-color: #def7ff;
  width: 100%;
}

.brand {
  /*ヘッダータイトル設定*/
  font-weight: bold;
  font-size: 40px;
  color: #000000;
  /*黒*/
  text-decoration: none;
  /*アンダーライン削除*/
}

.Bar {
  /*メニューバー大本の設定*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1b2538;
}

.Bar li {
  float: left;
  border-right: 1px solid #bbbbbb;
}

.Bar li:last-child {
  border-right: none;
}

.Bar li a {
  /*メニューバーの文字設定*/
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

.Bar li a:hover:not(.active) {
  background-color: #a9bce2;
}

.Bar .active {
  background-color: #da3c41;
}

/*------------『フィッシングの対策』の設定------------*/
/*-----------1つ目項目の設定-----------*/
.one {
  padding: 3em 10em 0;
}

.one p {
  /*div one におけるpタグの設定*/
  font-size: 18px;
  font-family: "メイリオ", "Meiryo";
  font-weight: bold;
}

.one h1 {
  /*『①フィッシングの対策』についての設定*/
  font-size: 32px;
  border-bottom: 4px solid #b0c4de;
  margin-top: 100px;
}

.one .one_a {
  padding: 0 0 0.5em;
}

.one .one_a p {
  font-size: 24px;
  font-family: "游ゴシック", "Yu Gothic";
  font-weight: bold;
}

.one .box6 {
  /*点線のボックスの設定*/
  padding: 0.5em 1em;
  margin: 4em 0;
  background: #f0f7ff;
  border: dashed 2px #5b8bd0;
  /*点線*/
}

.one .box6 p {
  /*点線のボックスの文字設定*/
  margin: 0;
  padding: 0;
}

.one .point_1 {
  /*画像とポイントに関しての設定*/
  display: flex;
  justify-content: center;
  /* 水平方向 */
  align-items: center;
  /* 垂直方向 */
}

.one .one_img {
  /*Ⅰの画像についての設定～その１～*/
  text-align: left;
}

.one .one_img img {
  /*Ⅰの画像についての設定～その２～*/
  width: 120%;
  /* 横幅を割合で指定 */
  height: auto;
}

.one .box29 {
  /*ポイントボックスについての設定*/
  margin: 0 5em 0;
  background: #dcefff;
}

.one .box29 .box-title {
  /*ボックスの『Point』に関しての設定*/
  font-size: 1.2em;
  background: #5fb3f5;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.one .box29 p {
  /*ポイントボックスの文字についての設定*/
  padding: 10px;
  margin: 0;
}


/*-----------２つ目項目の設定-----------*/
.one .point_2 {
  /*画像とポイントに関しての設定*/
  display: flex;
  justify-content: center;
  /* 水平方向 */
  align-items: center;
  /* 垂直方向 */
}


.one .two_img {
    /*Ⅱの画像についての設定～その１～*/
  text-align: left;
}

.one .two_img img {
  /*Ⅱの画像についての設定～その１～*/
  width: 220%;
  /* 横幅を割合で指定 */
  height: auto;
}

/*-----------３つ目項目の設定-----------*/
.one .point_3 {
  /*画像とポイントに関しての設定*/
  display: flex;
  justify-content: center;
  /* 水平方向 */
  align-items: center;
  /* 垂直方向 */
}

.one .three_img {
  /*Ⅲの画像についての設定～その１～*/
  text-align: left;
}

.one .three_img img {
  /*Ⅲの画像についての設定～その１～*/
  width: 90%;
  /* 横幅を割合で指定 */
  height: auto;
}

/*------------『他のサイバー攻撃について』の設定------------*/
.two {
  /*『②他のサイバー攻撃について』の全体についての設定*/
  margin: 2em 0;
  padding: 3em 10em 0;
}

.two h2 {
  /*『②他のサイバー攻撃について』のタイトルについての設定*/
  font-size: 32px;
  border-bottom: 4px solid #b0c4de;
}

.two label {
  /*『②他のサイバー攻撃について』のタグについての設定*/
  display: block;
  padding: 8px;
  color: #fff;
  font-weight: bold;
  /*一般的な太字の太さです。（数値で700を指定した場合と同じ）*/
  background: #999;
  cursor: pointer;
  /*カーソルアイコンが指し指になる*/
}

.two input[type="checkbox"] {
  /*『②他のサイバー攻撃について』のタグCLICKについての設定*/
  display: none;
}

.two .content {
  /*『②他のサイバー攻撃について』のタグについての設定*/
  height: 0;
  padding: 0;
  overflow: hidden;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  font-family: "游ゴシック", "Yu Gothic";
}

.two .content {
  /*『②他のサイバー攻撃について』のタグについての設定*/
  font-size: 18px;
  font-family: "游ゴシック", "Yu Gothic";
}

.two .content span {
  /*『②他のサイバー攻撃について』のタグについての設定*/
  font-size: 22px;
  font-family: 'M PLUS 1p', sans-serif;
  color: red;
}

.switch:checked+.content {
  height: auto;
  padding: 8px;
  background: #f7f7f7;
}


/*------------『アンケートについてについて』の設定------------*/

.three {
  padding: 3em 10em 0;
}

.three h3 {
  /*『②他のサイバー攻撃について』のタイトルについての設定*/
  font-size: 32px;
  border-bottom: 4px solid #b0c4de;
}
